body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

.main {
  top: 74px;
  left: 130px;
  position: absolute;
}

.column{
  background: #141;
  display: flex;
}


@media all and (max-width: 800px) {
  .columns {
    flex-direction: column-reverse;
  }
}
