<app-header></app-header>
<div class="column">
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</div>
<div>
  <button (click)="increment()">Increment</button>
  <div>Current Count: {{ counter | async }}</div>
  <button (click)="decrement()">Decrement</button>

  <button (click)="reset()">Reset Counter</button>
</div>
