#side {
    padding: 1em 2em;
    background: #141;

    #cart{
      font-size: smaller;
      color: white;

      .total_line, .total_cell{
        font-weight: bold;
        border-top: 1px solid #595;
      }

      table{
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }

      #current_item{
        .item_price{
          text-align: right;
        }
      }
    }

    form, div{
      display: inline;
    }

    input {
      font-size: small;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb; font-size: small;
        }
      }
      .date_time{
        color: yellow; font-size: small;
      }
    }
  }
