<div id="side" *ngIf="cartData | async; let cart">
  <div id = "cart" *ngIf="cart.line_items.length > 0" >
      <table>
        <tr id = "current_item"  *ngFor="let item of cart.line_items">
          <td>{{ item.quantity }}X </td>
          <td>{{ item.product.title }}</td>
          <td class = "item_price">${{ item.product.price }}</td>
        </tr>
        <tr class="total_line">
          <td colspan="2">Total</td>
          <td class="total_cell">${{ cart.cart_total }}</td>
        </tr>
      </table>
      <button (click)="emptyCart()">EmptyCart</button>
  </div>
  <ul>
    <li><a href="http://www....">Home</a></li>
    <li><a href="http://www..../faq">Questions</a></li>
    <li><a href="http://www..../news">News</a></li>
    <li><a href="http://www..../contact">Contact  </a></li>
  </ul>
</div>
