.entry{
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;

  img{
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
  }

  h3{
    font-size: 120%;
    font-family: sans-serif;
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #227;
  }

  .description{
    margin-left: 100px;
    font: 13px sans-serif;
  }

  .price{
    margin-left: 100px;
    color: #44a;
    font-weight: bold;
    margin-right: 3em;
  }
}
