<div class = "entry">
  <div class = "image">
    <img src="{{apiUrl}}/assets/{{product.image_url}}" alt="Image">
  </div>
  <h3>{{ product.title }}</h3>
  <div class="description">
    <span [innerHTML]="product.description"></span>
   </div>
  <p>
    <span class = "price"> ${{ product.price }}</span>
     <span>
      <button (click)="addToCart(product.id)">AddToCart</button>
    </span>
  </p>
</div>
